*[hidden] {
	display: none !important;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background: _back;
}

.edito * {
	border-color: _colorEdito !important;
}

.edito .headerId,
.edito .headerTitle {
	background: _colorEdito !important;
}

.w {
	max-width: 40rem;
	margin-left: max(0%, calc(calc(100vw - 40rem) * .3));
	padding: _sp;
}

h1 {
	border: _colorA _line;
	border-style: solid none;
}

.box {
	display: inline-block;
	margin-right: _sp;
	padding: _line _sp;
	background: _colorA;
}

a {
	color: inherit;
}

a:hover {
	background: _back1;
	color: _color;
}

p {
	text-indent: _sp;
	text-align: justify;
}

p.noindent {
	text-indent: 0;
}

hr {
	border-color: _colorA;
}

.tag {
	margin-right: _sp;
	border-radius: _spThin;
	padding: 0 _spThin;
	font-weight: bolder;
	background: _colorA;
}

.logo {
	width: 10rem;
	height: auto;
}

.marginTop {
	margin-top: _sp;
}