*[hidden] {
	display: none !important;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: large;
	background: _back;
}

h1 {
	border: _colorA _line2;
	border-style: solid none;
}

h2 {
	display: table;
	border: _colorA _line2;
	border-style: double none;
}

table {
	width: 100%;
	border: solid _line2 _color2;
	border-collapse: collapse;
	caption-side: bottom;
}

table.right {
	text-align: right;
}

td,
th {
	border: _line1 _color2;
	border-style: solid none;
	padding: 0 _spThin;
}

td.blanck,
th.blanck {
	background: _color2;
}

caption {
	margin-top: _sp;
}

tr:hover {
	background: _back1;
}

.boxFlex {
	display: flex;
	gap: _sp;
	flex-wrap: wrap;
}

.box {
	display: inline-block;
	padding: _line1 _sp;
	background: _colorA;
	align-content: center;
}

a {
	color: inherit;
}

a:hover {
	background: _back1;
	color: _color;
}

em {
	font-style: normal;
	font-weight: bolder;
}

.text,
p {
	text-indent: 3em;
	text-align: justify;
	overflow-wrap: break-word;
}

li {
	text-indent: 0;
}

p.noindent {
	text-indent: 0;
}

hr {
	border-color: _colorA;
	width: 100%;
}

pre {
	overflow-wrap: anywhere;
	word-break: break-all;
	white-space: pre-wrap;
}

.tag {
	margin-right: _sp;
	border-radius: _spThin;
	padding: 0 _spThin;
	font-weight: bolder;
	background: _colorA;
}

.active {
	padding: 0 _spThin;
	background: _colorA;
}

.logo {
	width: 10rem;
	height: auto;
}

.marginBottom {
	margin-bottom: _sp;
}