.doc {
	display: block;
	clip-path: polygon(0 0, calc(100% - _sp) 0, 100% 50%, calc(100% - _sp) 100%, 0 100%);
	margin: 1rem 0;
	border: solid  ;
	border-width: _line2 _sp1 _line2 _spThin;
	padding: _spThin;
	padding-right: _sp2;
	text-decoration: none;
	background: _back1;
}

.doc:hover {
	background: _colorA;
	border-color: _colorA;
	text-decoration: underline;
}

.docName {
	font-style: italic;
}

.docT {
	font-size: larger;
	font-weight: bold;
}