.searchBlock {
	margin-top: _sp;
}

input[type=search] {
	display: block;
	border: none;
	padding: _spThin;
	border: _line2 solid _back1;
	font: inherit;
	width: 100%;
}

.bigItem {
	display: block;
	border: solid _line2 var(--color);
	padding: _spThin;
	margin-top: _sp;
	text-decoration: none;
}

.bigItem::after {
	content: "";
	clear: both;
	display: table;
}

.bigItem:hover {
	background: _back1;
	color: _color;
}

.bigItemHead {
	margin: -_spThin -_spThin _spThin;
	padding: 0 _spThin;
	background: var(--color);
	font-weight: bold;
}


.itemTitle {
	font-size: larger;
	font-weight: bold;
}

.itemDesc {
	font-size: smaller;
	font-style: italic;
	text-indent: 0;
}

.bigItem>.logo {
	float: right;
	padding: 0 0 _spThin _spThin;
}