.peopleIndex {
	list-style: none;
	padding: 0;
}

.people {
	margin-bottom: _sp1;
	border: _colorA dotted _line2;
	padding: _spThin;
	border-radius: _sp;
	background:
		repeating-linear-gradient(30deg, _back 0 .2rem, transparent 0 .4rem),
		repeating-linear-gradient(90deg, _back 0 .2rem, _back1 0 .4rem);
}

.people .people {
	margin: _spThin 0 0;
}