.timeLine {
	list-style: none;
	padding: 0;
	background: linear-gradient(90deg, _back 0 1rem, _colorA 1rem 1.2rem, _back 1.2rem);
}

.edito .timeLine {
	background: linear-gradient(90deg, _back 0 1rem, _colorEdito 1rem 1.2rem, _back 1.2rem);
}

.timePoint {
	margin-bottom: _sp1;
	padding: _spThin;
	border: solid .2rem _colorA;
	background:
		repeating-linear-gradient(30deg, _back 0 .2rem, transparent 0 .4rem),
		repeating-linear-gradient(90deg, _back 0 .2rem, _back1 0 .4rem);
}

.timePoint.future {
	border-style: dotted;
}

.timeHead {
	font-weight: bolder;
}