.edito {
	--color: _colorEdito;
}


div.edito {
	border: solid _line2 _colorEdito;
	margin-bottom: _sp;
	padding: 0 _spThin _spThin;
	font-style: italic;
	text-align: justify;
}

.editoT {
	margin: 0 -_spThin _spThin;
	padding: 0 _spThin;
	font-weight: bold;
	background: _colorEdito;
}